name: vps

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: run vps
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh
          sudo tailscale up
          sleep infinity
